.Students,link{
    color: blue;
}

*{
    margin-right: auto;
    margin-left: auto;
}

.A{
    width: 70%;
    display: flex;
justify-content: center;
text-align: center;
}

table{
    width: 100%;
    border: 1px solid black;   
}

table thead{
    background-color: rgb(95, 97, 97);
     color: #fff;
     font-size: 15px;
    
}

table tbody{
    background-color: rgba(218, 212, 212, 0.055);
    height: 30px;
}

table thead tr{
    height: 40px;
}

table tbody tr{
    text-align: center;
    width: 100%;
    height: 30px;
    
}

.C{
    padding: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    line-height: 45px;
}

img{
    width: 120px;
}
#Picture3{
    width: 120px;
}
.D{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.hid{
    display: none;
}
.hide{
    display: none;
}

.Pages{
    text-align: right;
    margin:15px ;
   ;
}
#nextfrom,
#Follow{
   text-align: right;
   margin-right: 15%; 
}
.logo{
    width: 140px;
    margin-left: 15px;
}
.information{
    text-align: center; 
}
.information2{
    width: 60%;
    list-style: none;
    text-align:center;
    line-height: 40px;

}
.main,
.Notes{
    text-align: right;
   margin-right: 15%; 
}
span{
    color: rgb(190, 4, 4);
}


button{
    background-color: rgb(3, 161, 109);
    border-radius: 8px;
    border: 1px solid rgb(252, 249, 249);
    color: rgb(253, 252, 252);
    font-size: 15px;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
   }
   input{
    padding: 12px 20px;
   }

   .container {
    position: relative;
    width: 15%;
    border-radius: 12px;
    border: 1px solid black;
    margin-right: 0%;
    font-size: 20px;
    padding: 50px 40px;
    background: rgba(124, 122, 122, 0.055);
}

header{
    color:  rgb(3, 161, 109);
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.input_field{
    height: 30px;
    margin-top: 20px;
    width: 100%;
}
.refresh_button{
    position: absolute;
    top: 42.5%;
    right: 40px;
    transform: translateY(-50%);
    background:  rgb(3, 161, 109);
    padding: 15px 15px;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.input_field input,
.button button{
    height: 100%;
    width: 90%;
    outline: none;
    border-radius: 12px;
}
.input_field input{
    padding: 6px 15px;
    border: 1px solid rgba(0, 0, 0, 1);
}
.captch_box input{
    color: rgb(124, 3, 139);
    font-size: 20px;
    pointer-events: none;
}
.message{
    font-size: 20px;
    margin: 30px 0;
    text-align: left;
    color: rgb(124, 3, 139);
    display: none;
}
.button button{
    background: rgb(3, 161, 109);
    border-radius: 8px;
    width: 100%;
    color: rgb(250, 248, 250);
    padding:15px 15px 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.button button:active{
    transform: scale(0.99);
}
